<form>
    <div class="container-lg p-3 mt-5">
        <div class="form-group m-3">
            <label for="exampleInputEmail1">New product to add</label>
            <input type="text" class="form-control" id="newProduct" aria-describedby="help"
                placeholder="Enter a product name">

        </div>
        <div class="form-group m-3">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" placeholder="Price in u$">
        </div>
        <div class="m-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>